:root {
  --color: rgb(68, 68, 68);
  --hr-text: "OR"; /* Default text */
  --hr-color: #e0e0e0;
  --hr-background: #fff;
  --hr-text-color: var(--color);
}
body {
  background: rgb(151, 255, 166);
  background: linear-gradient(
    180deg,
    rgb(224, 224, 224) 0%,
    rgba(0, 255, 205, 0) 50%
  );
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
  /* height: fit-content; */
  /* min-height: 100vh; */
}
.navbar {
  transition: 500ms ease-in-out;
}
.parallax {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.parallax-2 {
  background-image: url("/public/parallax-1.jpeg");
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
}
.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -10px;
  overflow: hidden;
}
.background svg {
  animation: fade-down 3s ease-in-out;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.01));
}

.hr-with-text {
  position: relative;
  height: 1px;
  background-color: var(--hr-color);
  margin: 40px 0;
  text-align: center;
}

.hr-with-text::after {
  content: var(--hr-text);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--hr-background);
  color: var(--hr-text-color);
  padding: 0 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

@keyframes fade-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* .navbar {
  color: var(--color);
  padding: 10px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
} */

.hero {
  padding-top: 80px;
  min-height: 100vh;
}

.divider {
  width: 95%;
  height: 0.5px;
  background-color: rgb(161, 158, 158);
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 40px;
  height: 40px;
}

.jumbotron {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.jumbotron h1 {
  letter-spacing: -2px;
  word-spacing: -2rem;
  font-family: monospace;
  font-size: 5rem;
  font-weight: bold;
  color: var(--color);
}

.jumbotron p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: semibold;
}

.jumbotron ul {
  list-style-type: disc;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.my-card {
  box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  font-family: monospace;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  background-color: #f8f9fa;
}

.my-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.my-card img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.my-card h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.my-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  text-indent: 1.5rem;
  font-weight: semibold;
}

.my-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.my-card a:hover {
  color: #0056b3;
}

.my-card a:active {
  color: #003d7a;
}

.my-card a:visited {
  color: #0056b3;
}

.gallery {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.gallery h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

.gallery_wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  max-width: 80vw;
  padding: 2rem;
  margin: auto;
}

.gallery_item_wrapper {
  display: grid;
  gap: 16px;
}

.gallery_item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery_item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery_item:hover {
  transform: scale(1.05);
}

.profile-picture {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  max-width: 300px;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-info {
  position: relative;
  padding: 5rem;
  padding-top: 10rem;
  margin-top: 8rem;
}
.profile-info h2 {
  color: #333;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile-info p {
  text-align: center;
  font-size: large;
  font-weight: 400;
}
.profile-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.profile-info li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-info li:last-child {
  margin-bottom: 0;
}
.profile-info li a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.profile-info li a:hover {
  color: #0056b3;
}

.profile-info li a:active {
  color: #003d7a;
}

.profile-info a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.profile-info a:hover {
  color: #0056b3;
}

.profile-info a:active {
  color: #003d7a;
}

.profile-info a:visited {
  color: #0056b3;
}

.contact-form {
  padding: 20px;
  margin-top: 20px;
}
.form-group {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group input::-webkit-inner-spin-button,
.form-group input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-group input[type="number"] {
  -moz-appearance: textfield;
}
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group textarea {
  height: 150px;
}
.form-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  text-align: start;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Add media queries for responsiveness */

/* Mobile devices (max-width: 720px) */
@media screen and (max-width: 720px) {
  .container {
    padding: 10px;
  }
  .jumbotron {
    width: 90%;
    padding: 10px;
  }
  .card {
    margin: 10px;
    padding: 10px;
  }
  .gallery_wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px;
    max-width: 100vw;
  }
  .profile-picture {
    max-width: 200px;
    /* top: -10%; */
  }
  .profile-info {
    padding: 2rem;
    padding-top: 5rem;
    margin-top: 10rem;
  }
  .profile-info h2 {
    font-size: 1.5rem;
  }
  .profile-info p {
    font-size: medium;
  }
  .profile-info ul {
    width: 80%;
  }
  .profile-info li {
    font-size: 1.2rem;
  }
  .contact-form {
    padding: 10px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .form-grid {
    grid-template-columns: 1fr;
  }
}

/* Desktops (min-width: 1024px) */
@media screen and (min-width: 1024px) {
  .jumbotron {
    width: 60%;
    padding: 20px;
  }
  .card {
    margin: 20px;
    padding: 20px;
  }
  .gallery_wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }
  .profile-picture {
    max-width: 300px;
  }
  .profile-info {
    padding: 5rem;
    padding-top: 10rem;
    margin-top: 10rem;
  }
  .profile-info h2 {
    font-size: 2.5rem;
  }
  .profile-info p {
    font-size: x-large;
  }
  .profile-info ul {
    width: 60%;
  }
  .profile-info li {
    font-size: 1.8rem;
  }
  .contact-form {
    padding: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }
}
